greetings.txt
notes/node_modules
notes1/node_modules
notes1/playground/notes.json
notes1/notes-data.json
weather-app/node_modules
node-web-server/node_modules
node-web-server/server.log
node-tests/node_modules
node-todo-api/node_modules
