<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Help page Express JS for Node JS</title>
</head>

<body>
    {{> header}}
    <p>More text here.</p>

    {{> footer}}
</body>

</html>
