<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home page Express JS for Node JS</title>
</head>

<body>
    <h1>{{pageTitle}} Express JS for Node JS</h1>
    <p>More text here.</p>
    <p>{{welcome}} </p>

    <footer>
        <p>Copyright {{currentYear}} </p>
    </footer>

</body>

</html>
